.container-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1136px;
  height:403px;
  left: 152px;
  top: 179px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 64px 110px;

}


.infos-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 560px;
  height: 210px;
  left: 576px;
  top: 96.5px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}